//primary colors
$cyan: hsl(180, 66%, 49%);
$dark_violet: hsl(257, 27%, 26%);
$dark_cyan: #1e9494;
$grayish_background: #eff1f7;
//secondary colors
$red: hsl(0, 87%, 67%);
//neutral colors
$gray: hsl(0, 0%, 75%);
$grayish_violet: hsl(257, 7%, 63%);
$very_dark_blue: hsl(255, 11%, 22%);
$very_dark_violet: hsl(260, 8%, 14%);
$vzduibvh: hsl(258, 30%, 49%) #6c63ff;
