@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import './variables';
.sign__up__page {
  margin: auto;
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 1100px) {
    background-color: $dark_cyan;
  }
  .wrapper {
    margin: auto;
    min-width: 250px;
    max-width: 1600px;
    width: 75%;
    @media screen and (max-width: 1100px) {
      width: 90%;
    }
    .sign__up__card {
      background-color: #fff;
      box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.4);
      border-radius: 20px;
      overflow: hidden;
      .sign__up__card__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        min-height: 70vh;
        margin: auto;
        @media screen and (max-width: 1100px) {
          grid-template-columns: 1fr;
          width: 95%;
        }
        .illustration {
          grid-column-start: 2;
          grid-row: 1;
          background-color: #1e9494;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 95%;
          }
          @media screen and (max-width: 1100px) {
            display: none;
          }
        }
        .text__content {
          position: relative;
          grid-column-start: 1;
          color: $dark_cyan;
          margin: auto;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 95%;
          @media screen and (max-width: 1100px) {
            align-items: stretch;
            margin: auto;
          }
          h1 {
            margin: 40px auto;
            text-align: center;
            font-size: 45px;
            color: $dark_cyan;
            @media screen and (max-width: 500px) {
              font-size: 35px;
              width: 95%;
            }
          }
          p {
            margin: 10px auto;
          }
          form {
            text-align: center;
            .input__container {
              width: calc(250px + 10vw);
              margin: auto;
              @media screen and (max-width: 1100px) {
                width: 90%;
              }
              position: relative;
              .icon__input {
                position: absolute;
                top: 50%;
                left: 20px;
                transform: translateY(-35%);
                img {
                  color: #ccc !important;
                }
              }
              input {
                width: 100%;
                height: 40px;
                margin: 8px auto;
                background-color: $grayish_background;
                border: none;
                outline: none;
                padding: 30px 60px;
                font-size: 18px;
                font-family: 'Poppins', sans-serif;
                border: 1px solid #c2c1c1;
                font-weight: 400;
                border-radius: 30px;
                &::placeholder {
                  color: rgb(116, 116, 116);
                }
                @media screen and (max-width: 1100px) {
                  width: 100%;
                }
              }
            }
            .sign__up__button {
              letter-spacing: 2px;
              text-decoration: none;
              font-size: 18px;
              color: #fff;
              outline: 0;
              border: 0;
              background-color: $dark_cyan;
              list-style: none;
              width: 220px;
              font-family: 'Poppins', sans-serif;
              height: 50px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 30px;
              margin: 40px auto 20px auto;
              cursor: pointer;
              transition: all 0.2s ease-in-out;
              &:hover {
                opacity: 0.7;
              }
            }
          }
          .already__have__account {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px auto;
            p {
              padding: 0 10px;
              color: $dark_violet;
            }
            .login__now {
              color: $dark_cyan;
            }
            @media screen and (max-width: 1100px) {
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
  }
}
