@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
header {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 800px) {
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

header .logo__container .logo {
  margin-top: 10px;
}

header .menu__container .menu__icon {
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  header .menu__container .menu__icon {
    display: none;
  }
}

header .menu__container .menu__icon i {
  color: #9e9aa7;
}

.intro__section {
  margin-top: 150px;
}

@media screen and (max-width: 1100px) {
  .intro__section {
    margin-top: 600px;
  }
}

@media screen and (max-width: 550px) {
  .intro__section {
    margin-top: 350px;
  }
}

.intro__section .text__content {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

@media screen and (max-width: 1100px) {
  .intro__section .text__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: calc(450px + 10vw);
    margin: auto;
  }
}

@media screen and (max-width: 550px) {
  .intro__section .text__content {
    width: auto;
  }
}

.intro__section .text__content h1 {
  font-size: 75px;
  color: #35323e;
  line-height: 1.1;
}

@media screen and (max-width: 1100px) {
  .intro__section .text__content h1 {
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  .intro__section .text__content h1 {
    font-size: calc(25px + 5vw);
  }
}

.intro__section .text__content p {
  padding-top: 10px;
  color: #9e9aa7;
}

@media screen and (max-width: 1100px) {
  .intro__section .text__content p {
    width: calc(350px + 10vw);
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  .intro__section .text__content p {
    font-size: calc(15px + 1vw);
    width: auto;
  }
}

.url__shortener__container {
  width: 100%;
  background: url("../images/bg-shorten-desktop.svg") no-repeat, #3b3054;
  background-size: cover;
  border-radius: 10px;
  margin: auto;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 700px) {
  .url__shortener__container {
    background: url("../images/bg-shorten-mobile.svg") no-repeat, #3b3054;
  }
}

.url__shortener__container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

@media screen and (max-width: 700px) {
  .url__shortener__container form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    padding: 20px 0;
  }
}

.url__shortener__container form input {
  width: 60%;
  height: 50px;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 0 20px;
  font-family: inherit;
  font-size: 18px;
  color: #232127;
}

@media screen and (max-width: 700px) {
  .url__shortener__container form input {
    width: 90%;
    margin-bottom: 10px;
  }
}

.url__shortener__container form button {
  font-size: 18px;
  color: #fff;
  background-color: #2acfcf;
  width: 20%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  margin-left: 20px;
  border: 0;
  outline: 0;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.url__shortener__container form button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 700px) {
  .url__shortener__container form button {
    width: 90%;
    margin-left: 0;
  }
}

.shortened__links {
  width: 100%;
  height: auto;
}

.shortened__links .shortened__link__container {
  position: relative;
  margin: 20px auto;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shortened__links .shortened__link__container:hover .shortened__link__and__button .close__icon {
  visibility: visible;
}

@media screen and (max-width: 700px) {
  .shortened__links .shortened__link__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    text-align: center;
  }
}

.shortened__links .shortened__link__container .original__link {
  width: 100%;
  padding: 0px;
  border: none;
  outline: none;
  font-size: 18px;
  font-family: inherit;
}

.shortened__links .shortened__link__container .shortened__link__and__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 700px) {
  .shortened__links .shortened__link__container .shortened__link__and__button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.shortened__links .shortened__link__container .shortened__link__and__button .shortened__link {
  color: #2acfcf;
}

@media screen and (max-width: 700px) {
  .shortened__links .shortened__link__container .shortened__link__and__button .shortened__link {
    padding: 10px 0;
    width: 100%;
    border-top: 1px solid #bfbfbf;
    text-align: left;
  }
}

.shortened__links .shortened__link__container .shortened__link__and__button button {
  font-size: 18px;
  color: #fff;
  background-color: #2acfcf;
  width: 130px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  margin-left: 20px;
  border: 0;
  outline: 0;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.shortened__links .shortened__link__container .shortened__link__and__button button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 700px) {
  .shortened__links .shortened__link__container .shortened__link__and__button button {
    width: 100%;
    margin: 0;
  }
}

.shortened__links .shortened__link__container .shortened__link__and__button .close__icon {
  visibility: hidden;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  padding: 5px 5px 0 10px;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .shortened__links .shortened__link__container .shortened__link__and__button .close__icon {
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.statistics {
  width: 100%;
  background-color: #eff1f7;
  margin-top: 200px;
  padding-bottom: 100px;
}

.statistics .statistics__container {
  width: 75%;
  margin: auto;
  position: relative;
}

@media screen and (max-width: 1100px) {
  .statistics .statistics__container {
    width: 90%;
  }
}

.statistics .statistics__container .text__content__advanced {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.statistics .statistics__container .text__content__advanced h2 {
  font-size: 35px;
  color: #232127;
}

@media screen and (max-width: 550px) {
  .statistics .statistics__container .text__content__advanced h2 {
    text-align: center;
  }
}

.statistics .statistics__container .text__content__advanced p {
  padding-top: 10px;
  color: #9e9aa7;
  text-align: center;
  width: 45%;
}

@media screen and (max-width: 550px) {
  .statistics .statistics__container .text__content__advanced p {
    width: auto;
  }
}

.statistics .statistics__container .statistics__dashboard {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-top: 120px;
}

.statistics .statistics__container .statistics__dashboard .blue__line {
  display: block;
  width: 100%;
  height: 10px;
  background-color: #2acfcf;
  position: absolute;
  top: 50%;
}

@media screen and (max-width: 1000px) {
  .statistics .statistics__container .statistics__dashboard .blue__line {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@media screen and (max-width: 550px) {
  .statistics .statistics__container .statistics__dashboard .blue__line {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .statistics .statistics__container .statistics__dashboard {
    -ms-grid-rows: auto !important;
        grid-template-rows: auto !important;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-gap: 70px;
  }
}

@media screen and (max-width: 1000px) {
  .statistics .statistics__container .statistics__dashboard {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: (300px)[3];
        grid-template-rows: repeat(3, 300px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.statistics .statistics__container .statistics__dashboard .statistics__item {
  background-color: #fff;
  padding: 80px 40px 40px 40px;
  position: relative;
  border-radius: 5px;
}

.statistics .statistics__container .statistics__dashboard .statistics__item .icon__container {
  background-color: #3b3054;
  padding: 20px;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.statistics .statistics__container .statistics__dashboard .statistics__item .icon__container .icon img {
  height: 100%;
  width: 100%;
}

.statistics .statistics__container .statistics__dashboard .statistics__item h3 {
  font-size: 25px;
  color: #232127;
}

.statistics .statistics__container .statistics__dashboard .statistics__item p {
  padding-top: 25px;
  color: #9e9aa7;
}

.statistics .statistics__container .statistics__dashboard .recognition {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.statistics .statistics__container .statistics__dashboard .records {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.statistics .statistics__container .statistics__dashboard .customizable {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 120px;
}

@media screen and (max-width: 550px) {
  .statistics .statistics__container .statistics__dashboard .customizable {
    margin: auto;
  }
}

.boost {
  width: 100%;
  background: url("../images/bg-boost-desktop.svg") no-repeat, #3b3054;
  background-size: cover;
  color: #fff;
}

@media screen and (max-width: 700px) {
  .boost {
    background: url("../images/bg-boost-mobile.svg") no-repeat, #3b3054;
    background-size: cover;
  }
}

.boost .boost__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0;
}

@media screen and (max-width: 550px) {
  .boost .boost__container {
    padding: 60px;
  }
}

.boost .boost__container h1 {
  font-size: 40px;
  text-align: center;
}

@media screen and (max-width: 550px) {
  .boost .boost__container h1 {
    font-size: 30px;
  }
}

.main__button {
  font-size: 18px;
  color: #fff;
  background-color: #2acfcf;
  width: 180px;
  height: 50px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  border: 0;
  outline: 0;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.main__button:hover {
  opacity: 0.6;
}

footer {
  width: 100%;
  background-color: #232127;
}

footer .footer__container {
  padding-top: 100px;
  padding-bottom: 120px;
  width: 75%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}

@media screen and (max-width: 1000px) {
  footer .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1100px) {
  footer .footer__container {
    width: 90%;
  }
}

footer .footer__container .footer__lists__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 550px) {
  footer .footer__container .footer__lists__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}

@media screen and (max-width: 1000px) {
  footer .footer__container .footer__lists__container {
    margin: 60px 0;
  }
}

footer .footer__container .footer__lists__container .footer__list {
  padding: 0 50px;
}

@media screen and (max-width: 550px) {
  footer .footer__container .footer__lists__container .footer__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 0px;
  }
}

footer .footer__container .footer__lists__container .footer__list .title {
  font-weight: 700;
  color: #fff;
  padding-bottom: 10px;
  cursor: auto;
}

footer .footer__container .footer__lists__container .footer__list .title:hover {
  color: #fff;
}

footer .footer__container .footer__lists__container .footer__list li {
  list-style: none;
  font-size: 16px;
  line-height: 2.2;
  color: #9e9aa7;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

footer .footer__container .footer__lists__container .footer__list li:hover {
  color: #2acfcf;
}

@media screen and (max-width: 550px) {
  footer .footer__container .footer__lists__container .footer__list li {
    text-align: center;
  }
}

footer .footer__container .social__media {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 20px;
  width: 160px;
  height: 40px;
}

@media screen and (max-width: 1000px) {
  footer .footer__container .social__media {
    width: 180px;
    margin: auto;
  }
}

footer .footer__container .social__media .social__media__icon svg {
  width: 100%;
  cursor: pointer;
}

footer .footer__container .social__media .social__media__icon svg path {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

footer .footer__container .social__media .social__media__icon svg:hover path {
  fill: #2acfcf;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 800px) {
  nav {
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 15%;
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    background-color: #3b3054;
    border-radius: 10px;
    padding: 20px 0 40px 0;
  }
}

nav .nav__list {
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 800px) {
  nav .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    margin: 0;
  }
}

nav .account__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 800px) {
  nav .account__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100%;
  }
}

nav .list__item {
  list-style: none;
  padding: 0 20px;
  font-size: 15px;
  color: #9e9aa7;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

nav .list__item:hover {
  color: #232127;
}

@media screen and (max-width: 800px) {
  nav .list__item {
    color: #fff;
    line-height: 3.8;
    font-size: 18px;
  }
  nav .list__item:hover {
    color: #2acfcf;
  }
}

@media screen and (max-width: 800px) {
  nav .login {
    text-align: center;
    width: 90%;
    border-top: 1px solid #9e9aa7;
  }
}

nav .login .login__link {
  list-style: none;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  color: #9e9aa7;
}

nav .login .login__link:hover {
  color: #232127;
}

@media screen and (max-width: 800px) {
  nav .login .login__link {
    color: #fff;
    line-height: 3.8;
    font-size: 18px;
  }
  nav .login .login__link:hover {
    color: #2acfcf;
  }
}

nav .sign__up__link {
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  background-color: #2acfcf;
  list-style: none;
  width: 120px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  margin-left: 20px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

nav .sign__up__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 800px) {
  nav .sign__up__link {
    margin: 0;
    width: 90%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.app__container {
  font-weight: 500;
  position: relative;
  margin: auto;
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  background: url("../images/illustration-working.svg") no-repeat;
  background-position: 110% 150px;
}

@media screen and (max-width: 1300px) {
  .app__container {
    background-position: 140% 150px;
  }
}

@media screen and (max-width: 1100px) {
  .app__container {
    background-position: 50% 150px;
  }
}

@media screen and (max-width: 700px) {
  .app__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-position: 10px 150px;
  }
}

@media screen and (max-width: 550px) {
  .app__container {
    background-position: 5vh 120px;
    background-size: 400px;
  }
}

.app__container .wrapper {
  margin: auto;
  min-width: 250px;
  max-width: 1600px;
  width: 75%;
}

@media screen and (max-width: 1100px) {
  .app__container .wrapper {
    width: 90%;
  }
}

.active {
  display: block;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 800px) {
  .active {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

@media screen and (min-width: 800px) {
  .overlay {
    position: relative;
    background-color: transparent !important;
  }
}

.red__border {
  border: 2px solid red !important;
}

.red__border::-webkit-input-placeholder {
  color: #be3232 !important;
  opacity: 0.5;
}

.red__border:-ms-input-placeholder {
  color: #be3232 !important;
  opacity: 0.5;
}

.red__border::-ms-input-placeholder {
  color: #be3232 !important;
  opacity: 0.5;
}

.red__border::placeholder {
  color: #be3232 !important;
  opacity: 0.5;
}

.copied {
  background-color: #3b3054 !important;
  cursor: default !important;
}

.copied:hover {
  opacity: 1 !important;
}
/*# sourceMappingURL=app.css.map */